<%- include('./layouts/header') %>



<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/userAssets/home/assets/images/about/avif.avif')">
            <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Our Vision</h2><!-- End .title -->
                    <p>At VedCart, our vision is to become the most trusted and innovative leader in Ayurvedic health and wellness. We strive to blend ancient wisdom with modern practices, offering products that enhance the physical, mental, and spiritual well-being of our customers. Our goal is to make Ayurveda accessible to everyone, promoting a holistic lifestyle that fosters harmony and balance within and around us. </p>
                    <p>By upholding the highest standards of quality and sustainability, we aim to create a global community that values and embraces natural healing. We envision a world where every individual can experience the profound benefits of Ayurveda, leading to healthier lives and a more harmonious planet. Through continuous research, education, and community engagement, we are committed to inspiring a healthier, happier future for all.</p>
                    <p>We aspire to be at the forefront of innovation in the Ayurvedic industry, integrating cutting-edge technology with traditional practices to offer unparalleled products and services. Our vision includes expanding our reach globally, making Ayurvedic wisdom accessible to diverse communities worldwide.</p>
                    <p>Ultimately, we see a future where natural wellness is a standard part of everyday life, and Ayurveda is recognized as a key contributor to global health. By fostering a deeper understanding and appreciation of Ayurvedic principles, we aim to transform lives and create a lasting positive impact on the world.</p>
                </div><!-- End .col-lg-6 -->
                
                <div class="col-lg-6">
                    <h2 class="title">Our Mission</h2><!-- End .title -->
                    <p>Our mission at VedCart is to provide authentic, high-quality Ayurvedic products that promote holistic health and well-being. We are dedicated to preserving the rich heritage of Ayurveda while integrating it with modern scientific research to create innovative solutions for our customers' health needs.
<br><br>
                        <i>We commit to:</i> 
                        <br>
                        
                       <strong>Quality and Purity:</strong>  Ensuring that every product is crafted with the utmost care using the finest natural ingredients, adhering to rigorous quality standards to guarantee safety and effectiveness.
                        <br>
                       <strong> Sustainability:</strong> Practicing environmentally friendly and sustainable sourcing, production, and packaging methods to protect and preserve our planet for future generations.
                        <br>
                      <strong>Education and Awareness:</strong>   Empowering our customers with knowledge about Ayurveda and its benefits through accessible and informative content, helping them make informed choices about their health.
                        <br>
                      <strong>Community and Connection:</strong>   Building a supportive and engaged community that shares our values of wellness, balance, and natural living. We aim to foster connections that inspire and uplift.
                        <br>
                      <strong> Innovation and Excellence:</strong>  Continuously exploring new ways to combine traditional Ayurvedic wisdom with modern advancements to develop products that meet the evolving needs of our customers.
                        <br>
                        By staying true to these principles, we endeavor to be a beacon of health and wellness, guiding our customers on their journey to a balanced and fulfilling life. </p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <h2 class="title">Who We Are</h2><!-- End .title -->
                        <p class="lead text-primary mb-3">We are a passionate team dedicated to promoting holistic health through authentic Ayurvedic products, blending ancient wisdom with modern science to enhance well-being naturally.</p><!-- End .lead text-primary -->
                       
                        <a href="blog.html" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                            <span>VIEW OUR NEWS</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .col-lg-5 -->

                    <div class="col-lg-6 offset-lg-1">
                        <div class="about-images">
                            <img src="assets/images/about/img-1.jpg" alt="" class="about-img-front">
                            <img src="assets/images/about/img-2.jpg" alt="" class="about-img-back">
                        </div><!-- End .about-images -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-6 pb-6 -->

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="brands-text">
                        <h2 class="title">The world's premium design brands in one destination.</h2><!-- End .title -->
                        <p>Discover a curated selection of the finest Ayurvedic products, crafted to bring you the highest quality and most effective natural remedies in one place.</p>
                    </div><!-- End .brands-text -->
                </div><!-- End .col-lg-5 -->
                <div class="col-lg-7">
                    <div class="brands-display">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/1.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/2.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/3.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/4.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/5.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/6.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/7.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/8.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/9.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->
                        </div><!-- End .row -->
                    </div><!-- End .brands-display -->
                </div><!-- End .col-lg-7 -->
            </div><!-- End .row -->

            <hr class="mt-4 mb-6">

            

          
        </div><!-- End .container -->

        <div class="mb-2"></div><!-- End .mb-2 -->

        <div class="about-testimonials bg-light-2 pt-6 pb-6">
            <div class="container">
                <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "1200": {
                                "nav": true
                            }
                        }
                    }'>
                    <blockquote class="testimonial text-center">
                        <img src="assets/images/testimonials/user-1.jpg" alt="user">
                        <p>“I've been using vedCart's Ayurvedic products for over a year now, and the results have been amazing. Their commitment to quality and authenticity is evident in every product. I feel more balanced and healthier than ever! ”</p>
                        <cite>
                            Viswanathan G
                            <span>Customer</span>
                        </cite>
                    </blockquote><!-- End .testimonial -->

                    <blockquote class="testimonial text-center">
                        <img src="assets/images/testimonials/user-2.jpg" alt="user">
                        <p>“vedCart has truly transformed my approach to wellness. Their products are exceptional, and I appreciate their dedication to sustainability and natural ingredients. It's great to have a brand I can trust for my Ayurvedic needs.

                            ”</p>

                        <cite>
                            Narendran
                            <span>Customer</span>
                        </cite>
                    </blockquote><!-- End .testimonial -->
                </div><!-- End .testimonials-slider owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-5 pb-6 -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



<%- include('./layouts/footer') %>